@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e5e7eb;
    color: #1f2937;
    border-color: #1f2937;
}

.container {
    border: 2px solid black;
    width: 25vw;
    border-radius: 16px;
    background: rgba(30, 10, 50, 0.95);
    border-radius: 22px;
    box-shadow: 0 0 30px rgba(128, 0, 255, 0.3),
        0 0 90px rgba(0, 255, 255, 0.2);
    border: 1px solid rgba(128, 0, 255, 0.4);
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.button {
    padding: 25px;
    margin: 0 3px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 9px;
    background-color: #f9fafb;
    background: rgba(20, 10, 40, 0.85);
    color: #9d7cff;
    box-shadow: 0 0 10px rgba(157, 124, 255, 0.5),
        inset 0 0 5px rgba(0, 255, 255, 0.3);
    transition: all 0.2s ease;
}

.button:hover {
    box-shadow: 0 0 22px rgba(157, 124, 255, 0.7),
        inset 0 0 12px rgba(0, 255, 255, 0.5);
    transform: translateY(-2px);
}

.items-center {
    align-items: center;
}

.row {
    margin: 8px 0;
}

.row input {
    font-size: 22px;
    margin: 0;
    padding: 11px 2px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: right;
    background-color: rgba(20, 10, 40, 0.85);
    color: #9d7cff;
    box-shadow: inset 0 0 12px rgba(157, 124, 255, 0.5),
        0 0 20px rgba(0, 255, 255, 0.3)
}

h2 {
    font-size: 50px;
    color: #222222;
}

.row .mar-t {
    margin-top: 8px;
}

.button[value="A"]:hover,
.button[value="D"]:hover {
    box-shadow: 0 0 25px rgba(255, 111, 207, 0.9),
        inset 0 0 12px rgba(128, 0, 255, 0.5);
}

.button.equal {
    flex: 2;
    color: #00ffe0;
    box-shadow: 0 0 15px rgba(0, 255, 224, 0.8),
        inset 0 0 6px rgba(157, 124, 255, 0.4);
}

.button.equal:hover {
    box-shadow: 0 0 32px rgba(0, 255, 224, 1),
        inset 0 0 12px rgba(157, 124, 255, 0.6);
}